In [1]:
import pandas as  pd
import re

In [2]:
df_0_5000 = pd.read_csv('data/match_result_0_5000.csv')
df_5001_10000 = pd.read_csv('data/match_result_5001_10000.csv')
df_10001_15000 = pd.read_csv('data/match_result_10001_15000.csv')
df_15001_22000 = pd.read_csv('data/match_result_15001_22000.csv')
df_22001_35000 = pd.read_csv('data/match_result_22001_35000.csv')
df_35001_40000 = pd.read_csv('data/match_result_35001_40000.csv')

In [4]:
df_0_5000['info'][0]

"{'gameCreation': 1692279451325, 'gameDuration': 913, 'gameEndTimestamp': 1692280375722, 'gameId': 6657198842, 'gameMode': 'CLASSIC', 'gameName': 'teambuilder-match-6657198842', 'gameStartTimestamp': 1692279462096, 'gameType': 'MATCHED_GAME', 'gameVersion': '13.16.525.6443', 'mapId': 11, 'participants': [{'allInPings': 0, 'assistMePings': 0, 'assists': 0, 'baitPings': 0, 'baronKills': 0, 'basicPings': 0, 'bountyLevel': 0, 'challenges': {'12AssistStreakCount': 0, 'abilityUses': 112, 'acesBefore15Minutes': 0, 'alliedJungleMonsterKills': 0, 'baronTakedowns': 0, 'blastConeOppositeOpponentCount': 0, 'bountyGold': 0, 'buffsStolen': 0, 'completeSupportQuestInTime': 0, 'controlWardTimeCoverageInRiverOrEnemyHalf': 0.4111534174022164, 'controlWardsPlaced': 1, 'damagePerMinute': 469.5220916122018, 'damageTakenOnTeamPercentage': 0.2522669434432903, 'dancedWithRiftHerald': 0, 'deathsByEnemyChamps': 3, 'dodgeSkillShotsSmallWindow': 0, 'doubleAces': 0, 'dragonTakedowns': 0, 'earlyLaningPhaseGoldExpAdvantage': 0, 'effectiveHealAndShielding': 0, 'elderDragonKillsWithOpposingSoul': 0, 'elderDragonMultikills': 0, 'enemyChampionImmobilizations': 6, 'enemyJungleMonsterKills': 0, 'epicMonsterKillsNearEnemyJungler': 0, 'epicMonsterKillsWithin30SecondsOfSpawn': 0, 'epicMonsterSteals': 0, 'epicMonsterStolenWithoutSmite': 0, 'firstTurretKilled': 0, 'flawlessAces': 0, 'fullTeamTakedown': 0, 'gameLength': 913.8575714, 'getTakedownsInAllLanesEarlyJungleAsLaner': 0, 'goldPerMinute': 280.1656002979689, 'hadOpenNexus': 0, 'immobilizeAndKillWithAlly': 0, 'initialBuffCount': 0, 'initialCrabCount': 0, 'jungleCsBefore10Minutes': 0, 'junglerTakedownsNearDamagedEpicMonster': 0, 'kTurretsDestroyedBeforePlatesFall': 0, 'kda': 0, 'killAfterHiddenWithAlly': 0, 'killParticipation': 0, 'killedChampTookFullTeamDamageSurvived': 0, 'killingSprees': 0, 'killsNearEnemyTurret': 0, 'killsOnOtherLanesEarlyJungleAsLaner': 0, 'killsOnRecentlyHealedByAramPack': 0, 'killsUnderOwnTurret': 0, 'killsWithHelpFromEpicMonster': 0, 'knockEnemyIntoTeamAndKill': 0, 'landSkillShotsEarlyGame': 0, 'laneMinionsFirst10Minutes': 76, 'laningPhaseGoldExpAdvantage': 0, 'legendaryCount': 0, 'lostAnInhibitor': 0, 'maxCsAdvantageOnLaneOpponent': 5, 'maxKillDeficit': 0, 'maxLevelLeadLaneOpponent': 1, 'mejaisFullStackInTime': 0, 'moreEnemyJungleThanOpponent': 0, 'multiKillOneSpell': 0, 'multiTurretRiftHeraldCount': 0, 'multikills': 0, 'multikillsAfterAggressiveFlash': 0, 'outerTurretExecutesBefore10Minutes': 0, 'outnumberedKills': 0, 'outnumberedNexusKill': 0, 'perfectDragonSoulsTaken': 0, 'perfectGame': 0, 'pickKillWithAlly': 0, 'playedChampSelectPosition': 1, 'poroExplosions': 0, 'quickCleanse': 0, 'quickFirstTurret': 0, 'quickSoloKills': 0, 'riftHeraldTakedowns': 0, 'saveAllyFromDeath': 0, 'scuttleCrabKills': 0, 'skillshotsDodged': 0, 'skillshotsHit': 0, 'snowballsHit': 0, 'soloBaronKills': 0, 'soloKills': 0, 'stealthWardsPlaced': 5, 'survivedSingleDigitHpCount': 0, 'survivedThreeImmobilizesInFight': 6, 'takedownOnFirstTurret': 0, 'takedowns': 0, 'takedownsAfterGainingLevelAdvantage': 0, 'takedownsBeforeJungleMinionSpawn': 0, 'takedownsFirstXMinutes': 0, 'takedownsInAlcove': 0, 'takedownsInEnemyFountain': 0, 'teamBaronKills': 0, 'teamDamagePercentage': 0.386367223245392, 'teamElderDragonKills': 0, 'teamRiftHeraldKills': 0, 'tookLargeDamageSurvived': 0, 'turretPlatesTaken': 0, 'turretTakedowns': 0, 'turretsTakenWithRiftHerald': 0, 'twentyMinionsIn3SecondsCount': 4, 'twoWardsOneSweeperCount': 0, 'unseenRecalls': 0, 'visionScoreAdvantageLaneOpponent': -0.6759676337242126, 'visionScorePerMinute': 0.2582843966812359, 'wardTakedowns': 0, 'wardTakedownsBefore20M': 0, 'wardsGuarded': 0}, 'champExperience': 6224, 'champLevel': 10, 'championId': 24, 'championName': 'Jax', 'championTransform': 0, 'commandPings': 1, 'consumablesPurchased': 3, 'damageDealtToBuildings': 0, 'damageDealtToObjectives': 0, 'damageDealtToTurrets': 0, 'damageSelfMitigated': 7074, 'dangerPings': 0, 'deaths': 3, 'detectorWardsPlaced': 1, 'doubleKills': 0, 'dragonKills': 0, 'eligibleForProgression': True, 'enemyMissingPings': 8, 'enemyVisionPings': 3, 'firstBloodAssist': False, 'firstBloodKill': False, 'firstTowerAssist': False, 'firstTowerKill': False, 'gameEndedInEarlySurrender': False, 'gameEndedInSurrender': True, 'getBackPings': 0, 'goldEarned': 4267, 'goldSpent': 4075, 'holdPings': 1, 'individualPosition': 'TOP', 'inhibitorKills': 0, 'inhibitorTakedowns': 0, 'inhibitorsLost': 0, 'item0': 0, 'item1': 0, 'item2': 0, 'item3': 0, 'item4': 6632, 'item5': 1054, 'item6': 3340, 'itemsPurchased': 12, 'killingSprees': 0, 'kills': 0, 'lane': 'NONE', 'largestCriticalStrike': 0, 'largestKillingSpree': 0, 'largestMultiKill': 0, 'longestTimeSpentLiving': 684, 'magicDamageDealt': 20118, 'magicDamageDealtToChampions': 3177, 'magicDamageTaken': 3934, 'needVisionPings': 0, 'neutralMinionsKilled': 0, 'nexusKills': 0, 'nexusLost': 0, 'nexusTakedowns': 0, 'objectivesStolen': 0, 'objectivesStolenAssists': 0, 'onMyWayPings': 1, 'participantId': 1, 'pentaKills': 0, 'perks': {'statPerks': {'defense': 5002, 'flex': 5008, 'offense': 5005}, 'styles': [{'description': 'primaryStyle', 'selections': [{'perk': 8437, 'var1': 724, 'var2': 441, 'var3': 0}, {'perk': 8446, 'var1': 0, 'var2': 0, 'var3': 0}, {'perk': 8444, 'var1': 1027, 'var2': 0, 'var3': 0}, {'perk': 8451, 'var1': 122, 'var2': 0, 'var3': 0}], 'style': 8400}, {'description': 'subStyle', 'selections': [{'perk': 8347, 'var1': 0, 'var2': 0, 'var3': 0}, {'perk': 8345, 'var1': 3, 'var2': 0, 'var3': 0}], 'style': 8300}]}, 'physicalDamageDealt': 24878, 'physicalDamageDealtToChampions': 3973, 'physicalDamageTaken': 8705, 'placement': 0, 'playerAugment1': 0, 'playerAugment2': 0, 'playerAugment3': 0, 'playerAugment4': 0, 'playerSubteamId': 0, 'profileIcon': 5850, 'pushPings': 0, 'puuid': 'NQoeZ5_4Kd3EcWopoHGbOdEE1w09kUgKfMKJmHDRgGWs9TUQj5Wadw6VTYGBvR4XzJHCsip_nJt7vA', 'quadraKills': 0, 'riotIdName': '', 'riotIdTagline': '', 'role': 'SUPPORT', 'sightWardsBoughtInGame': 0, 'spell1Casts': 21, 'spell2Casts': 51, 'spell3Casts': 36, 'spell4Casts': 4, 'subteamPlacement': 0, 'summoner1Casts': 2, 'summoner1Id': 12, 'summoner2Casts': 2, 'summoner2Id': 4, 'summonerId': 'lHk3QxzmfpZwdp2fwe4kS8_njOqw-WufAal7xOnNR3m8D__yczpfb2q25A', 'summonerLevel': 208, 'summonerName': 'DRX Fr0g', 'teamEarlySurrendered': False, 'teamId': 100, 'teamPosition': 'TOP', 'timeCCingOthers': 6, 'timePlayed': 913, 'totalAllyJungleMinionsKilled': 0, 'totalDamageDealt': 44997, 'totalDamageDealtToChampions': 7151, 'totalDamageShieldedOnTeammates': 0, 'totalDamageTaken': 13311, 'totalEnemyJungleMinionsKilled': 0, 'totalHeal': 709, 'totalHealsOnTeammates': 0, 'totalMinionsKilled': 100, 'totalTimeCCDealt': 81, 'totalTimeSpentDead': 92, 'totalUnitsHealed': 1, 'tripleKills': 0, 'trueDamageDealt': 0, 'trueDamageDealtToChampions': 0, 'trueDamageTaken': 671, 'turretKills': 0, 'turretTakedowns': 0, 'turretsLost': 4, 'unrealKills': 0, 'visionClearedPings': 0, 'visionScore': 3, 'visionWardsBoughtInGame': 1, 'wardsKilled': 0, 'wardsPlaced': 5, 'win': False}, {'allInPings': 0, 'assistMePings': 0, 'assists': 2, 'baitPings': 0, 'baronKills': 0, 'basicPings': 0, 'bountyLevel': 0, 'challenges': {'12AssistStreakCount': 0, 'abilityUses': 176, 'acesBefore15Minutes': 0, 'alliedJungleMonsterKills': 41, 'baronTakedowns': 0, 'blastConeOppositeOpponentCount': 0, 'bountyGold': 0, 'buffsStolen': 0, 'completeSupportQuestInTime': 0, 'controlWardTimeCoverageInRiverOrEnemyHalf': 0.7347631206593076, 'controlWardsPlaced': 2, 'damagePerMinute': 74.16362233464858, 'damageTakenOnTeamPercentage': 0.2942545423331918, 'dancedWithRiftHerald': 0, 'deathsByEnemyChamps': 4, 'dodgeSkillShotsSmallWindow': 0, 'doubleAces': 0, 'dragonTakedowns': 0, 'earlyLaningPhaseGoldExpAdvantage': 0, 'effectiveHealAndShielding': 0, 'elderDragonKillsWithOpposingSoul': 0, 'elderDragonMultikills': 0, 'enemyChampionImmobilizations': 9, 'enemyJungleMonsterKills': 6, 'epicMonsterKillsNearEnemyJungler': 0, 'epicMonsterKillsWithin30SecondsOfSpawn': 0, 'epicMonsterSteals': 0, 'epicMonsterStolenWithoutSmite': 0, 'firstTurretKilled': 0, 'flawlessAces': 0, 'fullTeamTakedown': 0, 'gameLength': 913.8575714, 'goldPerMinute': 281.6756824411697, 'hadOpenNexus': 0, 'immobilizeAndKillWithAlly': 0, 'initialBuffCount': 1, 'initialCrabCount': 0, 'jungleCsBefore10Minutes': 52.00000011920929, 'junglerKillsEarlyJungle': 0, 'junglerTakedownsNearDamagedEpicMonster': 0, 'kTurretsDestroyedBeforePlatesFall': 0, 'kda': 0.5, 'killAfterHiddenWithAlly': 0, 'killParticipation': 0.3333333333333333, 'killedChampTookFullTeamDamageSurvived': 0, 'killingSprees': 0, 'killsNearEnemyTurret': 0, 'killsOnLanersEarlyJungleAsJungler': 0, 'killsOnRecentlyHealedByAramPack': 0, 'killsUnderOwnTurret': 0, 'killsWithHelpFromEpicMonster': 0, 'knockEnemyIntoTeamAndKill': 0, 'landSkillShotsEarlyGame': 19, 'laneMinionsFirst10Minutes': 1, 'laningPhaseGoldExpAdvantage': 0, 'legendaryCount': 0, 'lostAnInhibitor': 0, 'maxCsAdvantageOnLaneOpponent': 2, 'maxKillDeficit': 0, 'maxLevelLeadLaneOpponent': 0, 'mejaisFullStackInTime': 0, 'moreEnemyJungleThanOpponent': -30.500000029802322, 'multiKillOneSpell': 0, 'multiTurretRiftHeraldCount': 0, 'multikills': 0, 'multikillsAfterAggressiveFlash': 0, 'outerTurretExecutesBefore10Minutes': 0, 'outnumberedKills': 0, 'outnumberedNexusKill': 0, 'perfectDragonSoulsTaken': 0, 'perfectGame': 0, 'pickKillWithAlly': 2, 'playedChampSelectPosition': 1, 'poroExplosions': 0, 'quickCleanse': 0, 'quickFirstTurret': 0, 'quickSoloKills': 0, 'riftHeraldTakedowns': 0, 'saveAllyFromDeath': 0, 'scuttleCrabKills': 0, 'skillshotsDodged': 2, 'skillshotsHit': 41, 'snowballsHit': 0, 'soloBaronKills': 0, 'soloKills': 0, 'stealthWardsPlaced': 1, 'survivedSingleDigitHpCount': 0, 'survivedThreeImmobilizesInFight': 0, 'takedownOnFirstTurret': 0, 'takedowns': 2, 'takedownsAfterGainingLevelAdvantage': 0, 'takedownsBeforeJungleMinionSpawn': 0, 'takedownsFirstXMinutes': 2, 'takedownsInAlcove': 0, 'takedownsInEnemyFountain': 0, 'teamBaronKills': 0, 'teamDamagePercentage': 0.06102884899167853, 'teamElderDragonKills': 0, 'teamRiftHeraldKills': 0, 'tookLargeDamageSurvived': 0, 'turretPlatesTaken': 0, 'turretTakedowns': 0, 'turretsTakenWithRiftHerald': 0, 'twentyMinionsIn3SecondsCount': 0, 'twoWardsOneSweeperCount': 0, 'unseenRecalls': 0, 'visionScoreAdvantageLaneOpponent': -0.36705464124679565, 'visionScorePerMinute': 0.7503574043562942, 'wardTakedowns': 2, 'wardTakedownsBefore20M': 2, 'wardsGuarded': 0}, 'champExperience': 4587, 'champLevel': 8, 'championId': 20, 'championName': 'Nunu', 'championTransform': 0, 'commandPings': 4, 'consumablesPurchased': 3, 'damageDealtToBuildings': 0, 'damageDealtToObjectives': 1154, 'damageDealtToTurrets': 0, 'damageSelfMitigated': 7528, 'dangerPings': 0, 'deaths': 4, 'detectorWardsPlaced': 2, 'doubleKills': 0, 'dragonKills': 0, 'eligibleForProgression': True, 'enemyMissingPings': 7, 'enemyVisionPings': 0, 'firstBloodAssist': False, 'firstBloodKill': False, 'firstTowerAssist': False, 'firstTowerKill': False, 'gameEndedInEarlySurrender': False, 'gameEndedInSurrender': True, 'getBackPings': 0, 'goldEarned': 4290, 'goldSpent': 3500, 'holdPings': 0, 'individualPosition': 'JUNGLE', 'inhibitorKills': 0, 'inhibitorTakedowns': 0, 'inhibitorsLost': 0, 'item0': 1011, 'item1': 1011, 'item2': 1029, 'item3': 1033, 'item4': 1001, 'item5': 1103, 'item6': 3364, 'itemsPurchased': 13, 'killingSprees': 0, 'kills': 0, 'lane': 'NONE', 'largestCriticalStrike': 0, 'largestKillingSpree': 0, 'largestMultiKill': 0, 'longestTimeSpentLiving': 387, 'magicDamageDealt': 16110, 'magicDamageDealtToChampions': 952, 'magicDamageTaken': 6273, 'needVisionPings': 0, 'neutralMinionsKilled': 66, 'nexusKills': 0, 'nexusLost': 0, 'nexusTakedowns': 0, 'objectivesStolen': 0, 'objectivesStolenAssists': 0, 'onMyWayPings': 9, 'participantId': 2, 'pentaKills': 0, 'perks': {'statPerks': {'defense': 5003, 'flex': 5008, 'offense': 5005}, 'styles': [{'description': 'primaryStyle', 'selections': [{'perk': 8230, 'var1': 5, 'var2': 0, 'var3': 0}, {'perk': 8275, 'var1': 11, 'var2': 0, 'var3': 0}, {'perk': 8234, 'var1': 4363, 'var2': 0, 'var3': 0}, {'perk': 8232, 'var1': 0, 'var2': 50, 'var3': 0}], 'style': 8200}, {'description': 'subStyle', 'selections': [{'perk': 9111, 'var1': 57, 'var2': 40, 'var3': 0}, {'perk': 9105, 'var1': 0, 'var2': 0, 'var3': 0}], 'style': 8000}]}, 'physicalDamageDealt': 14475, 'physicalDamageDealtToChampions': 107, 'physicalDamageTaken': 9109, 'placement': 0, 'playerAugment1': 0, 'playerAugment2': 0, 'playerAugment3': 0, 'playerAugment4': 0, 'playerSubteamId': 0, 'profileIcon': 2076, 'pushPings': 0, 'puuid': 'fll2umwH2Y0X3DTvh6bBVTqX-3Io5LoFmRV1gtHnXkD10TK4Enkw2a1kR0lzYns1C88jjsvbZJbwbw', 'quadraKills': 0, 'riotIdName': '', 'riotIdTagline': '', 'role': 'SUPPORT', 'sightWardsBoughtInGame': 0, 'spell1Casts': 39, 'spell2Casts': 33, 'spell3Casts': 101, 'spell4Casts': 3, 'subteamPlacement': 0, 'summoner1Casts': 9, 'summoner1Id': 11, 'summoner2Casts': 2, 'summoner2Id': 4, 'summonerId': '2HiUyTVdaUrtFfBlwLCrwfa5WjTe695wXiEOSk2E9aZ1_n0', 'summonerLevel': 391, 'summonerName': '라온팀 누누', 'teamEarlySurrendered': False, 'teamId': 100, 'teamPosition': 'JUNGLE', 'timeCCingOthers': 5, 'timePlayed': 913, 'totalAllyJungleMinionsKilled': 59, 'totalDamageDealt': 72719, 'totalDamageDealtToChampions': 1129, 'totalDamageShieldedOnTeammates': 0, 'totalDamageTaken': 15526, 'totalEnemyJungleMinionsKilled': 4, 'totalHeal': 8586, 'totalHealsOnTeammates': 0, 'totalMinionsKilled': 9, 'totalTimeCCDealt': 186, 'totalTimeSpentDead': 49, 'totalUnitsHealed': 1, 'tripleKills': 0, 'trueDamageDealt': 42133, 'trueDamageDealtToChampions': 69, 'trueDamageTaken': 143, 'turretKills': 0, 'turretTakedowns': 0, 'turretsLost': 4, 'unrealKills': 0, 'visionClearedPings': 0, 'visionScore': 11, 'visionWardsBoughtInGame': 2, 'wardsKilled': 2, 'wardsPlaced': 3, 'win': False}, {'allInPings': 0, 'assistMePings': 0, 'assists': 1, 'baitPings': 0, 'baronKills': 0, 'basicPings': 0, 'bountyLevel': 0, 'challenges': {'12AssistStreakCount': 0, 'abilityUses': 137, 'acesBefore15Minutes': 0, 'alliedJungleMonsterKills': 0, 'baronTakedowns': 0, 'blastConeOppositeOpponentCount': 0, 'bountyGold': 0, 'buffsStolen': 0, 'completeSupportQuestInTime': 0, 'controlWardTimeCoverageInRiverOrEnemyHalf': 0.44702768952733113, 'controlWardsPlaced': 1, 'damagePerMinute': 278.94718610948195, 'damageTakenOnTeamPercentage': 0.15801426480319442, 'dancedWithRiftHerald': 0, 'deathsByEnemyChamps': 5, 'dodgeSkillShotsSmallWindow': 0, 'doubleAces': 0, 'dragonTakedowns': 0, 'earlyLaningPhaseGoldExpAdvantage': 0, 'effectiveHealAndShielding': 0, 'elderDragonKillsWithOpposingSoul': 0, 'elderDragonMultikills': 0, 'enemyChampionImmobilizations': 4, 'enemyJungleMonsterKills': 0, 'epicMonsterKillsNearEnemyJungler': 0, 'epicMonsterKillsWithin30SecondsOfSpawn': 0, 'epicMonsterSteals': 0, 'epicMonsterStolenWithoutSmite': 0, 'firstTurretKilled': 0, 'flawlessAces': 0, 'fullTeamTakedown': 0, 'gameLength': 913.8575714, 'getTakedownsInAllLanesEarlyJungleAsLaner': 0, 'goldPerMinute': 308.81840232926476, 'hadOpenNexus': 0, 'immobilizeAndKillWithAlly': 0, 'initialBuffCount': 0, 'initialCrabCount': 0, 'jungleCsBefore10Minutes': 0, 'junglerTakedownsNearDamagedEpicMonster': 0, 'kTurretsDestroyedBeforePlatesFall': 0, 'kda': 0.4, 'killAfterHiddenWithAlly': 0, 'killParticipation': 0.3333333333333333, 'killedChampTookFullTeamDamageSurvived': 0, 'killingSprees': 0, 'killsNearEnemyTurret': 0, 'killsOnOtherLanesEarlyJungleAsLaner': 1, 'killsOnRecentlyHealedByAramPack': 0, 'killsUnderOwnTurret': 1, 'killsWithHelpFromEpicMonster': 0, 'knockEnemyIntoTeamAndKill': 0, 'landSkillShotsEarlyGame': 11, 'laneMinionsFirst10Minutes': 67, 'laningPhaseGoldExpAdvantage': 0, 'legendaryCount': 0, 'lostAnInhibitor': 0, 'maxCsAdvantageOnLaneOpponent': 1, 'maxKillDeficit': 0, 'maxLevelLeadLaneOpponent': 1, 'mejaisFullStackInTime': 0, 'moreEnemyJungleThanOpponent': 0, 'multiKillOneSpell': 0, 'multiTurretRiftHeraldCount': 0, 'multikills': 0, 'multikillsAfterAggressiveFlash': 0, 'outerTurretExecutesBefore10Minutes': 0, 'outnumberedKills': 0, 'outnumberedNexusKill': 0, 'perfectDragonSoulsTaken': 0, 'perfectGame': 0, 'pickKillWithAlly': 0, 'playedChampSelectPosition': 1, 'poroExplosions': 0, 'quickCleanse': 0, 'quickFirstTurret': 0, 'quickSoloKills': 0, 'riftHeraldTakedowns': 0, 'saveAllyFromDeath': 0, 'scuttleCrabKills': 0, 'skillshotsDodged': 2, 'skillshotsHit': 19, 'snowballsHit': 0, 'soloBaronKills': 0, 'soloKills': 1, 'stealthWardsPlaced': 4, 'survivedSingleDigitHpCount': 0, 'survivedThreeImmobilizesInFight': 0, 'takedownOnFirstTurret': 0, 'takedowns': 2, 'takedownsAfterGainingLevelAdvantage': 0, 'takedownsBeforeJungleMinionSpawn': 0, 'takedownsFirstXMinutes': 2, 'takedownsInAlcove': 0, 'takedownsInEnemyFountain': 0, 'teamBaronKills': 0, 'teamDamagePercentage': 0.22954415064723505, 'teamElderDragonKills': 0, 'teamRiftHeraldKills': 0, 'teleportTakedowns': 1, 'tookLargeDamageSurvived': 0, 'turretPlatesTaken': 0, 'turretTakedowns': 0, 'turretsTakenWithRiftHerald': 0, 'twentyMinionsIn3SecondsCount': 5, 'twoWardsOneSweeperCount': 0, 'unseenRecalls': 0, 'visionScoreAdvantageLaneOpponent': 0.3474665880203247, 'visionScorePerMinute': 0.5312427750585134, 'wardTakedowns': 1, 'wardTakedownsBefore20M': 1, 'wardsGuarded': 0}, 'champExperience': 6207, 'champLevel': 10, 'championId': 45, 'championName': 'Veigar', 'championTransform': 0, 'commandPings': 1, 'consumablesPurchased': 3, 'damageDealtToBuildings': 0, 'damageDealtToObjectives': 0, 'damageDealtToTurrets': 0, 'damageSelfMitigated': 3400, 'dangerPings': 0, 'deaths': 5, 'detectorWardsPlaced': 1, 'doubleKills': 0, 'dragonKills': 0, 'eligibleForProgression': True, 'enemyMissingPings': 9, 'enemyVisionPings': 0, 'firstBloodAssist': False, 'firstBloodKill': False, 'firstTowerAssist': False, 'firstTowerKill': False, 'gameEndedInEarlySurrender': False, 'gameEndedInSurrender': True, 'getBackPings': 0, 'goldEarned': 4703, 'goldSpent': 4725, 'holdPings': 0, 'individualPosition': 'MIDDLE', 'inhibitorKills': 0, 'inhibitorTakedowns': 0, 'inhibitorsLost': 0, 'item0': 0, 'item1': 3070, 'item2': 6656, 'item3': 3158, 'item4': 0, 'item5': 0, 'item6': 3340, 'itemsPurchased': 11, 'killingSprees': 0, 'kills': 1, 'lane': 'NONE', 'largestCriticalStrike': 0, 'largestKillingSpree': 0, 'largestMultiKill': 1, 'longestTimeSpentLiving': 278, 'magicDamageDealt': 39978, 'magicDamageDealtToChampions': 3783, 'magicDamageTaken': 6699, 'needVisionPings': 0, 'neutralMinionsKilled': 0, 'nexusKills': 0, 'nexusLost': 0, 'nexusTakedowns': 0, 'objectivesStolen': 0, 'objectivesStolenAssists': 0, 'onMyWayPings': 3, 'participantId': 3, 'pentaKills': 0, 'perks': {'statPerks': {'defense': 5003, 'flex': 5008, 'offense': 5007}, 'styles': [{'description': 'primaryStyle', 'selections': [{'perk': 8229, 'var1': 382, 'var2': 0, 'var3': 0}, {'perk': 8226, 'var1': 250, 'var2': 162, 'var3': 0}, {'perk': 8210, 'var1': 0, 'var2': 0, 'var3': 0}, {'perk': 8237, 'var1': 253, 'var2': 0, 'var3': 0}], 'style': 8200}, {'description': 'subStyle', 'selections': [{'perk': 8345, 'var1': 3, 'var2': 0, 'var3': 0}, {'perk': 8347, 'var1': 0, 'var2': 0, 'var3': 0}], 'style': 8300}]}, 'physicalDamageDealt': 6773, 'physicalDamageDealtToChampions': 464, 'physicalDamageTaken': 1560, 'placement': 0, 'playerAugment1': 0, 'playerAugment2': 0, 'playerAugment3': 0, 'playerAugment4': 0, 'playerSubteamId': 0, 'profileIcon': 659, 'pushPings': 0, 'puuid': 'gnbvUESaYnQQS9O4_wp-5URByX4WVbUlALlIuQXfOw1AoT0ZWrMcEOyaQSL9uAp3yNdNTJsjweQoyA', 'quadraKills': 0, 'riotIdName': '', 'riotIdTagline': '', 'role': 'SUPPORT', 'sightWardsBoughtInGame': 0, 'spell1Casts': 86, 'spell2Casts': 38, 'spell3Casts': 12, 'spell4Casts': 1, 'subteamPlacement': 0, 'summoner1Casts': 2, 'summoner1Id': 4, 'summoner2Casts': 3, 'summoner2Id': 12, 'summonerId': 'ALGIvFXxTyHeX2fZWw1RwhVJIvTGOK_iyYDoFK1bYioTcg', 'summonerLevel': 442, 'summonerName': 'TOTACHU', 'teamEarlySurrendered': False, 'teamId': 100, 'teamPosition': 'MIDDLE', 'timeCCingOthers': 5, 'timePlayed': 913, 'totalAlly

In [110]:
df = df[df['info'].notnull()]

In [112]:
df.reset_index(drop=True, inplace=True)

In [113]:
pattern_time = r"'timePlayed': ([0-9]*)"
# pattern_duration = r"'gameDuration': ([0-9]*)"

for i in range(len(df_35001_40000)):
    info_str = df_35001_40000['info'][i]
    matches_time = re.findall(pattern_time, info_str)
#     matches_duration = re.findall(pattern_duration, df_35001_40000[i])
    if len(list(set(matches_time))) != 1:
        print(i)

In [99]:
pattern_time = r"'timePlayed': ([0-9]*)"
matches_time = re.findall(pattern_time, df_35001_40000['info'][0])

matches_time

['821', '821', '821', '821', '821', '821', '821', '821']

In [29]:
df_22001_35000['info'].isnull().sum()

18

In [24]:
def teams_preprocessing(df, i):
    
    # first kill 목록
    tf = ['blue_baron_first', 'blue_champion_first', 'blue_dragon_first', 'blue_inhibitor_first', 'blue_riftherald_first', 'blue_tower_first', 'blue_win',
              'red_baron_first', 'red_champion_first', 'red_dragon_first', 'red_inhibitor_first', 'red_riftherald_first', 'red_tower_first', 'red_win']

    # total kill 목록
    kill = ['blue_baron', 'blue_champion', 'blue_dragon', 'blue_inhibitor', 'blue_riftherald', 'blue_tower',
            'red_baron', 'red_champion', 'red_dragon', 'red_inhibitor', 'red_riftherald', 'red_tower']

    # 기타 컬럼 목록
    others = ['blue_lane_minion', 'red_lane_minion', 'blue_lane_gold', 'red_lane_gold', 'duration', 'blue_gold_perM', 'red_gold_perM', 'blue_gold_earned', 
             'red_gold_earned', 'blue_kda', 'red_kda', 'blue_solo_kill', 'red_solo_kill', 'blue_visionscore_perM', 'red_visionscore_perM', 'blue_level', 
             'red_level', 'blue_death', 'red_death', 'blue_damage', 'red_damage', 'blue_jungle_minion', 'red_jungle_minion', 'blue_total_minion',
             'red_total_minion', 'blue_death_time', 'red_death_time', 'blue_visionscore', 'red_visionscore']

    # 추가: df['info'][i] 타입 확인
    if pd.isna(df['info'][i]):
        print(f"Skipping index {i}")
        return None  # 혹은 빈 DataFrame 반환
    

    # teams 데이터 불러오기
    teams = df['info'][i][df['info'][i].find('teams'):]

    # first kill
    pattern_tf = r'(True|False)'
    matches_tf = re.findall(pattern_tf, teams)

    # total kill
    pattern_kills = r"'kills': ([0-9]*)"
    matches_kill = re.findall(pattern_kills, teams)

    # laneMinionsFirst10Minutes
    pattern_laneminion = r"'laneMinionsFirst10Minutes': ([0-9]*)"
    matches_laneminion = re.findall(pattern_laneminion, df['info'][i])
    matches_laneminion = [sum(map(int, matches_laneminion[:5])), sum(map(int, matches_laneminion[5:]))]

    # laningPhaseGoldExpAdvantage
    pattern_lanegold = r"'laningPhaseGoldExpAdvantage': ([0-9]*)"
    matches_lanegold = re.findall(pattern_lanegold, df['info'][i])
    matches_lanegold = [sum(map(int, matches_lanegold[:5])), sum(map(int, matches_lanegold[5:]))]

    # gameDuration
    pattern_gameduration = r"'gameDuration': ([0-9]*)"
    matches_gameduration = re.findall(pattern_gameduration, df['info'][i])
    matches_gameduration = list(map(int, matches_gameduration))

    # golPerMinute
    pattern_gold_perM = r"'goldPerMinute': ([0-9]*\.?[0-9]*)"
    matches_gold_perM = re.findall(pattern_gold_perM, df['info'][i])
    matches_gold_perM = [round(sum(map(float, matches_gold_perM[:5]))/5, 2), round(sum(map(float, matches_gold_perM[5:]))/5, 2)]

    # goldEarned
    pattern_goldearned = r"'goldEarned': ([0-9]*)"
    matches_goldearned = re.findall(pattern_goldearned, df['info'][i])
    matches_goldearned = [sum(map(int, matches_goldearned[:5])), sum(map(int, matches_goldearned[5:]))]

    # kda
    pattern_kda = r"'kda': ([0-9]*\.?[0-9]*)"
    matches_kda = re.findall(pattern_kda, df['info'][i])
    matches_kda = [round(sum(map(float, matches_kda[:5]))/5, 2), round(sum(map(float, matches_kda[5:]))/5, 2)]

    # soloKills
    pattern_solokill = r"'soloKills': ([0-9]*)"
    matches_solokill = re.findall(pattern_solokill, df['info'][i])
    matches_solokill = [sum(map(int, matches_solokill[:5])), sum(map(int, matches_solokill[5:]))]

    # visionScorePerMinute
    pattern_visionScore_perM = r"'visionScorePerMinute': ([0-9]*\.?[0-9]*)"
    matches_visionScore_perM = re.findall(pattern_visionScore_perM, df['info'][i])
    matches_visionScore_perM = [round(sum(map(float, matches_visionScore_perM[:5]))/5, 2), round(sum(map(float, matches_visionScore_perM[5:]))/5, 2)]

    # champLevel
    pattern_champLevel = r"'champLevel': ([0-9]*)"
    matches_champLevel = re.findall(pattern_champLevel, df['info'][i])
    matches_champLevel = [sum(map(int, matches_champLevel[:5]))/5, sum(map(int, matches_champLevel[5:]))/5]

    # deaths
    pattern_deaths = r"'deaths': ([0-9]*)"
    matches_deaths = re.findall(pattern_deaths, df['info'][i])
    matches_deaths = [sum(map(int, matches_deaths[:5])), sum(map(int, matches_deaths[5:]))]

    # totalDamageDealtToChampions
    pattern_damage = r"'totalDamageDealtToChampions': ([0-9]*)"
    matches_damage = re.findall(pattern_damage, df['info'][i])
    matches_damage = [sum(map(int, matches_damage[:5]))/5, sum(map(int, matches_damage[5:]))/5]

    # totalEnemyJungleMinionsKilled
    pattern_jungle_minion = r"'totalEnemyJungleMinionsKilled': ([0-9]*)"
    matches_jungle_minion = re.findall(pattern_jungle_minion, df['info'][i])
    matches_jungle_minion = [sum(map(int, matches_jungle_minion[:5])), sum(map(int, matches_jungle_minion[5:]))]

    # totalMinionsKilled
    pattern_total_minion = r"'totalMinionsKilled': ([0-9]*)"
    matches_total_minion = re.findall(pattern_total_minion, df['info'][i])
    matches_total_minion = [sum(map(int, matches_total_minion[:5])), sum(map(int, matches_total_minion[5:]))]

    # totalTimeSpentDead
    pattern_death_time = r"'totalTimeSpentDead': ([0-9]*)"
    matches_death_time = re.findall(pattern_death_time, df['info'][i])
    matches_death_time = [sum(map(int, matches_death_time[:5])), sum(map(int, matches_death_time[5:]))]

    # visionScore
    pattern_visionscore = r"'visionScore': ([0-9]*)"
    matches_visionscore = re.findall(pattern_visionscore, df['info'][i])
    matches_visionscore = [sum(map(int, matches_visionscore[:5])), sum(map(int, matches_visionscore[5:]))]

    # 데이터 합치기
    combined_data = dict(zip(tf + kill + others, matches_tf + matches_kill + matches_laneminion + matches_lanegold + 
                             matches_gameduration + matches_gold_perM + matches_goldearned + matches_kda + matches_solokill + matches_visionScore_perM +
                             matches_champLevel + matches_deaths + matches_damage + matches_jungle_minion + matches_total_minion + matches_death_time +
                             matches_visionscore))

    # 데이터 프레임
    match_history = pd.DataFrame([combined_data])
    return match_history

all_match_history = pd.DataFrame()

for i in range(len(df_0_5000)):
    result = teams_preprocessing(df_0_5000, i)
    if result is not None:  # 추가: 반환된 값이 None이 아닐 경우만 concat
        all_match_history = pd.concat([all_match_history, result])

Skipping index 4044
Skipping index 4170
Skipping index 4318

In [25]:
all_match_history

Empty DataFrame
Columns: []
Index: []

In [13]:
all_match_history.to_excel('all_match_history_15001_22000.xlsx')

In [15]:
df_1 = pd.read_excel('data/all_match_history_22001_35000.xlsx')
df_2 = pd.read_excel('data/all_match_history_35000_40000.xlsx')
df_3 = pd.read_excel('data/all_match_history_0_5000.xlsx')
df_4 = pd.read_excel('data/all_match_history_5001_10000.xlsx')
df_5 = pd.read_excel('data/all_match_history_10001_15000.xlsx')
df_6 = pd.read_excel('data/all_match_history_15001_22000.xlsx')

In [22]:
total_df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6])

In [25]:
total_df

,blue_baron_first,blue_champion_first,blue_dragon_first,blue_inhibitor_first,blue_riftherald_first,blue_tower_first,blue_win,red_baron_first,red_champion_first,red_dragon_first,...,blue_damage,red_damage,blue_jungle_minion,red_jungle_minion,blue_total_minion,red_total_minion,blue_death_time,red_death_time,blue_visionscore,red_visionscore
0,False,False,True,True,True,True,True,False,True,False,...,19954.8,13585.2,38,0,584,497,586,910,112,99
1,False,True,True,False,False,False,False,True,False,False,...,26190.0,27490.8,22,19,715,723,1528,1319,207,194
2,True,True,True,True,True,True,True,False,False,False,...,19816.8,10824.4,61,13,697,661,360,830,199,155
3,False,False,True,False,False,True,True,False,True,False,...,10525.4,7117.4,2,8,469,395,229,500,76,82
4,False,False,False,False,True,True,True,False,True,True,...,7055.6,7238.2,15,12,452,425,212,255,80,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6987,False,False,False,False,False,False,False,False,True,True,...,6451.8,10501.6,0,8,425,473,454,156,69,103
6988,True,True,True,True,True,True,True,False,False,False,...,15966.8,9784.6,65,10,525,453,413,788,111,100
6989,False,False,False,False,True,True,False,True,True,True,...,27253.0,29899.8,20,24,727,623,1452,1127,170,194
6990,True,False,True,True,True,False,True,False,True,False,...,16478.2,14236.6,4,12,574,599,578,820,153,121
6991,True,True,False,True,True,False,True,False,False,True,...,20078.2,17623.6,16,20,712,718,546,961,196,190

In [24]:
total_df = total_df.drop('Unnamed: 0', axis=1)

In [26]:
total_df.to_csv('data/all_match_history_0_40000.csv', index=False, encoding='utf-8')

In [29]:
df = pd.read_csv('data/all_match_history_0_40000.csv', dtype='str')

In [30]:
df

,blue_baron_first,blue_champion_first,blue_dragon_first,blue_inhibitor_first,blue_riftherald_first,blue_tower_first,blue_win,red_baron_first,red_champion_first,red_dragon_first,...,blue_damage,red_damage,blue_jungle_minion,red_jungle_minion,blue_total_minion,red_total_minion,blue_death_time,red_death_time,blue_visionscore,red_visionscore
0,False,False,True,True,True,True,True,False,True,False,...,19954.8,13585.2,38,0,584,497,586,910,112,99
1,False,True,True,False,False,False,False,True,False,False,...,26190.0,27490.8,22,19,715,723,1528,1319,207,194
2,True,True,True,True,True,True,True,False,False,False,...,19816.8,10824.4,61,13,697,661,360,830,199,155
3,False,False,True,False,False,True,True,False,True,False,...,10525.4,7117.4,2,8,469,395,229,500,76,82
4,False,False,False,False,True,True,True,False,True,True,...,7055.6,7238.2,15,12,452,425,212,255,80,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39952,False,False,False,False,False,False,False,False,True,True,...,6451.8,10501.6,0,8,425,473,454,156,69,103
39953,True,True,True,True,True,True,True,False,False,False,...,15966.8,9784.6,65,10,525,453,413,788,111,100
39954,False,False,False,False,True,True,False,True,True,True,...,27253.0,29899.8,20,24,727,623,1452,1127,170,194
39955,True,False,True,True,True,False,True,False,True,False,...,16478.2,14236.6,4,12,574,599,578,820,153,121
39956,True,True,False,True,True,False,True,False,False,True,...,20078.2,17623.6,16,20,712,718,546,961,196,190

In [31]:
df_1 = pd.read_csv('data/all_match_history_0_40000.csv', dtype=str)
df_2 = pd.read_csv('data/Combined_History.csv', dtype=str)
df_3 = pd.read_csv('data/match_history_80001.csv', dtype=str)

In [32]:
df_1

,blue_baron_first,blue_champion_first,blue_dragon_first,blue_inhibitor_first,blue_riftherald_first,blue_tower_first,blue_win,red_baron_first,red_champion_first,red_dragon_first,...,blue_damage,red_damage,blue_jungle_minion,red_jungle_minion,blue_total_minion,red_total_minion,blue_death_time,red_death_time,blue_visionscore,red_visionscore
0,False,False,True,True,True,True,True,False,True,False,...,19954.8,13585.2,38,0,584,497,586,910,112,99
1,False,True,True,False,False,False,False,True,False,False,...,26190.0,27490.8,22,19,715,723,1528,1319,207,194
2,True,True,True,True,True,True,True,False,False,False,...,19816.8,10824.4,61,13,697,661,360,830,199,155
3,False,False,True,False,False,True,True,False,True,False,...,10525.4,7117.4,2,8,469,395,229,500,76,82
4,False,False,False,False,True,True,True,False,True,True,...,7055.6,7238.2,15,12,452,425,212,255,80,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39952,False,False,False,False,False,False,False,False,True,True,...,6451.8,10501.6,0,8,425,473,454,156,69,103
39953,True,True,True,True,True,True,True,False,False,False,...,15966.8,9784.6,65,10,525,453,413,788,111,100
39954,False,False,False,False,True,True,False,True,True,True,...,27253.0,29899.8,20,24,727,623,1452,1127,170,194
39955,True,False,True,True,True,False,True,False,True,False,...,16478.2,14236.6,4,12,574,599,578,820,153,121
39956,True,True,False,True,True,False,True,False,False,True,...,20078.2,17623.6,16,20,712,718,546,961,196,190

In [33]:
df_2

,blue_baron_first,blue_champion_first,blue_dragon_first,blue_inhibitor_first,blue_riftherald_first,blue_tower_first,blue_win,red_baron_first,red_champion_first,red_dragon_first,...,blue_damage,red_damage,blue_jungle_minion,red_jungle_minion,blue_total_minion,red_total_minion,blue_death_time,red_death_time,blue_visionscore,red_visionscore
0,False,False,True,True,True,True,True,True,True,False,...,23840.0,21317.6,24.0,8.0,647.0,655.0,524.0,1082.0,198.0,186.0
1,False,True,True,False,True,True,True,False,False,False,...,7991.4,4736.2,34.0,8.0,377.0,293.0,85.0,384.0,77.0,55.0
2,False,False,False,True,False,True,True,False,True,False,...,19165.6,13407.2,0.0,0.0,161.0,150.0,638.0,734.0,0.0,0.0
3,False,True,True,True,True,True,True,False,False,False,...,9218.0,5902.6,10.0,0.0,516.0,492.0,108.0,370.0,104.0,73.0
4,True,False,True,False,False,False,True,False,True,False,...,22453.8,15994.6,49.0,14.0,679.0,586.0,742.0,1058.0,182.0,138.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34941,False,False,False,True,True,True,False,True,True,True,...,27742.8,28527.4,44.0,10.0,805.0,745.0,1304.0,1058.0,219.0,210.0
34942,True,False,True,True,False,False,True,False,True,False,...,20727.2,23997.0,16.0,29.0,692.0,748.0,901.0,971.0,224.0,195.0
34943,True,False,True,True,False,False,False,False,True,False,...,25507.6,24062.6,53.0,28.0,736.0,833.0,947.0,1205.0,305.0,214.0
34944,False,False,True,True,True,True,True,False,True,False,...,31278.6,22598.0,70.0,26.0,663.0,659.0,989.0,1640.0,175.0,157.0
34945,False,True,False,False,True,False,False,True,False,True,...,18347.4,15924.0,31.0,43.0,696.0,754.0,1008.0,814.0,145.0,194.0

In [34]:
df_3

,blue_baron_first,blue_champion_first,blue_dragon_first,blue_inhibitor_first,blue_riftherald_first,blue_tower_first,blue_win,red_baron_first,red_champion_first,red_dragon_first,...,blue_damage,red_damage,blue_jungle_minion,red_jungle_minion,blue_total_minion,red_total_minion,blue_death_time,red_death_time,blue_visionscore,red_visionscore
0,True,True,True,True,True,False,True,False,False,False,...,14875.0,10679.0,39.0,24.0,513.0,575.0,382.0,650.0,133.0,128.0
1,False,True,False,False,False,False,True,True,False,True,...,28307.4,30100.2,0.0,36.0,772.0,679.0,1385.0,1714.0,204.0,203.0
2,False,False,False,False,True,True,False,True,True,True,...,19043.4,15597.4,40.0,21.0,640.0,569.0,741.0,566.0,172.0,168.0
3,True,True,False,True,True,True,True,False,False,True,...,18689.2,15785.8,58.0,4.0,912.0,910.0,528.0,878.0,243.0,256.0
4,False,False,True,False,True,False,False,True,True,False,...,8715.6,13911.8,0.0,50.0,567.0,611.0,731.0,230.0,130.0,133.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34337,False,False,True,False,True,True,True,False,True,False,...,6395.8,3533.6,8,0,442,323,66,275,85,38
34338,False,True,False,True,False,True,True,False,False,True,...,18231.4,8992.6,10,8,589,494,313,674,119,113
34339,False,True,False,False,False,True,False,True,False,True,...,11571.4,14072.4,15,51,608,631,789,367,104,138
34340,False,True,False,True,True,True,True,False,False,False,...,11078.8,2020.4,4,0,245,36,10,570,3,0
34341,True,False,False,True,True,True,True,False,True,True,...,31517.6,31574.8,25,8,877,850,1322,1350,283,346

In [35]:
total_df = pd.concat([df_1, df_2, df_3])

In [36]:
total_df

,blue_baron_first,blue_champion_first,blue_dragon_first,blue_inhibitor_first,blue_riftherald_first,blue_tower_first,blue_win,red_baron_first,red_champion_first,red_dragon_first,...,blue_damage,red_damage,blue_jungle_minion,red_jungle_minion,blue_total_minion,red_total_minion,blue_death_time,red_death_time,blue_visionscore,red_visionscore
0,False,False,True,True,True,True,True,False,True,False,...,19954.8,13585.2,38,0,584,497,586,910,112,99
1,False,True,True,False,False,False,False,True,False,False,...,26190.0,27490.8,22,19,715,723,1528,1319,207,194
2,True,True,True,True,True,True,True,False,False,False,...,19816.8,10824.4,61,13,697,661,360,830,199,155
3,False,False,True,False,False,True,True,False,True,False,...,10525.4,7117.4,2,8,469,395,229,500,76,82
4,False,False,False,False,True,True,True,False,True,True,...,7055.6,7238.2,15,12,452,425,212,255,80,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34337,False,False,True,False,True,True,True,False,True,False,...,6395.8,3533.6,8,0,442,323,66,275,85,38
34338,False,True,False,True,False,True,True,False,False,True,...,18231.4,8992.6,10,8,589,494,313,674,119,113
34339,False,True,False,False,False,True,False,True,False,True,...,11571.4,14072.4,15,51,608,631,789,367,104,138
34340,False,True,False,True,True,True,True,False,False,False,...,11078.8,2020.4,4,0,245,36,10,570,3,0
34341,True,False,False,True,True,True,True,False,True,True,...,31517.6,31574.8,25,8,877,850,1322,1350,283,346

In [72]:
total_df = total_df.replace({True: 1, False: 0})

In [37]:
total_df = total_df.replace({'True': 1, 'False': 0})

In [38]:
total_df

,blue_baron_first,blue_champion_first,blue_dragon_first,blue_inhibitor_first,blue_riftherald_first,blue_tower_first,blue_win,red_baron_first,red_champion_first,red_dragon_first,...,blue_damage,red_damage,blue_jungle_minion,red_jungle_minion,blue_total_minion,red_total_minion,blue_death_time,red_death_time,blue_visionscore,red_visionscore
0,0,0,1,1,1,1,1,0,1,0,...,19954.8,13585.2,38,0,584,497,586,910,112,99
1,0,1,1,0,0,0,0,1,0,0,...,26190.0,27490.8,22,19,715,723,1528,1319,207,194
2,1,1,1,1,1,1,1,0,0,0,...,19816.8,10824.4,61,13,697,661,360,830,199,155
3,0,0,1,0,0,1,1,0,1,0,...,10525.4,7117.4,2,8,469,395,229,500,76,82
4,0,0,0,0,1,1,1,0,1,1,...,7055.6,7238.2,15,12,452,425,212,255,80,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34337,0,0,1,0,1,1,1,0,1,0,...,6395.8,3533.6,8,0,442,323,66,275,85,38
34338,0,1,0,1,0,1,1,0,0,1,...,18231.4,8992.6,10,8,589,494,313,674,119,113
34339,0,1,0,0,0,1,0,1,0,1,...,11571.4,14072.4,15,51,608,631,789,367,104,138
34340,0,1,0,1,1,1,1,0,0,0,...,11078.8,2020.4,4,0,245,36,10,570,3,0
34341,1,0,0,1,1,1,1,0,1,1,...,31517.6,31574.8,25,8,877,850,1322,1350,283,346

In [39]:
total_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109245 entries, 0 to 34341
Data columns (total 55 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   blue_baron_first       109245 non-null  object
 1   blue_champion_first    109245 non-null  object
 2   blue_dragon_first      109245 non-null  object
 3   blue_inhibitor_first   109245 non-null  object
 4   blue_riftherald_first  109245 non-null  object
 5   blue_tower_first       109245 non-null  object
 6   blue_win               109245 non-null  object
 7   red_baron_first        109245 non-null  object
 8   red_champion_first     109245 non-null  object
 9   red_dragon_first       109245 non-null  object
 10  red_inhibitor_first    109245 non-null  object
 11  red_riftherald_first   109245 non-null  object
 12  red_tower_first        109245 non-null  object
 13  red_win                109245 non-null  object
 14  blue_baron             109245 non-null  object
 15  blue_champion          109245 non-null  object
 16  blue_dragon            109245 non-null  object
 17  blue_inhibitor         109245 non-null  object
 18  blue_riftherald        109245 non-null  object
 19  blue_tower             109245 non-null  object
 20  red_baron              109245 non-null  object
 21  red_champion           109245 non-null  object
 22  red_dragon             109245 non-null  object
 23  red_inhibitor          109245 non-null  object
 24  red_riftherald         109245 non-null  object
 25  red_tower              109245 non-null  object
 26  blue_lane_minion       109245 non-null  object
 27  red_lane_minion        109245 non-null  object
 28  blue_lane_gold         109245 non-null  object
 29  red_lane_gold          109241 non-null  object
 30  duration               109241 non-null  object
 31  blue_gold_perM         109241 non-null  object
 32  red_gold_perM          109241 non-null  object
 33  blue_gold_earned       109241 non-null  object
 34  red_gold_earned        109241 non-null  object
 35  blue_kda               109241 non-null  object
 36  red_kda                109241 non-null  object
 37  blue_solo_kill         109241 non-null  object
 38  red_solo_kill          109241 non-null  object
 39  blue_visionscore_perM  109241 non-null  object
 40  red_visionscore_perM   109241 non-null  object
 41  blue_level             109241 non-null  object
 42  red_level              109241 non-null  object
 43  blue_death             109241 non-null  object
 44  red_death              109241 non-null  object
 45  blue_damage            109241 non-null  object
 46  red_damage             109241 non-null  object
 47  blue_jungle_minion     109241 non-null  object
 48  red_jungle_minion      109241 non-null  object
 49  blue_total_minion      109241 non-null  object
 50  red_total_minion       109241 non-null  object
 51  blue_death_time        109241 non-null  object
 52  red_death_time         109241 non-null  object
 53  blue_visionscore       109241 non-null  object
 54  red_visionscore        109241 non-null  object
dtypes: object(55)
memory usage: 46.7+ MB

In [40]:
total_df.isnull().sum()

blue_baron_first         0
blue_champion_first      0
blue_dragon_first        0
blue_inhibitor_first     0
blue_riftherald_first    0
blue_tower_first         0
blue_win                 0
red_baron_first          0
red_champion_first       0
red_dragon_first         0
red_inhibitor_first      0
red_riftherald_first     0
red_tower_first          0
red_win                  0
blue_baron               0
blue_champion            0
blue_dragon              0
blue_inhibitor           0
blue_riftherald          0
blue_tower               0
red_baron                0
red_champion             0
red_dragon               0
red_inhibitor            0
red_riftherald           0
red_tower                0
blue_lane_minion         0
red_lane_minion          0
blue_lane_gold           0
red_lane_gold            4
duration                 4
blue_gold_perM           4
red_gold_perM            4
blue_gold_earned         4
red_gold_earned          4
blue_kda                 4
red_kda                  4
blue_solo_kill           4
red_solo_kill            4
blue_visionscore_perM    4
red_visionscore_perM     4
blue_level               4
red_level                4
blue_death               4
red_death                4
blue_damage              4
red_damage               4
blue_jungle_minion       4
red_jungle_minion        4
blue_total_minion        4
red_total_minion         4
blue_death_time          4
red_death_time           4
blue_visionscore         4
red_visionscore          4
dtype: int64

In [44]:
total_df = total_df[total_df['red_lane_gold'].notnull()]

In [57]:
final_df = total_df.copy()

In [58]:
numeric_columns = list(total_df.columns)

for col in numeric_columns:
    final_df[col] = pd.to_numeric(final_df[col])

In [61]:
final_df

,blue_baron_first,blue_champion_first,blue_dragon_first,blue_inhibitor_first,blue_riftherald_first,blue_tower_first,blue_win,red_baron_first,red_champion_first,red_dragon_first,...,blue_damage,red_damage,blue_jungle_minion,red_jungle_minion,blue_total_minion,red_total_minion,blue_death_time,red_death_time,blue_visionscore,red_visionscore
0,0,0,1,1,1,1,1,0,1,0,...,19954.8,13585.2,38.0,0.0,584.0,497.0,586.0,910.0,112.0,99.0
1,0,1,1,0,0,0,0,1,0,0,...,26190.0,27490.8,22.0,19.0,715.0,723.0,1528.0,1319.0,207.0,194.0
2,1,1,1,1,1,1,1,0,0,0,...,19816.8,10824.4,61.0,13.0,697.0,661.0,360.0,830.0,199.0,155.0
3,0,0,1,0,0,1,1,0,1,0,...,10525.4,7117.4,2.0,8.0,469.0,395.0,229.0,500.0,76.0,82.0
4,0,0,0,0,1,1,1,0,1,1,...,7055.6,7238.2,15.0,12.0,452.0,425.0,212.0,255.0,80.0,91.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34337,0,0,1,0,1,1,1,0,1,0,...,6395.8,3533.6,8.0,0.0,442.0,323.0,66.0,275.0,85.0,38.0
34338,0,1,0,1,0,1,1,0,0,1,...,18231.4,8992.6,10.0,8.0,589.0,494.0,313.0,674.0,119.0,113.0
34339,0,1,0,0,0,1,0,1,0,1,...,11571.4,14072.4,15.0,51.0,608.0,631.0,789.0,367.0,104.0,138.0
34340,0,1,0,1,1,1,1,0,0,0,...,11078.8,2020.4,4.0,0.0,245.0,36.0,10.0,570.0,3.0,0.0
34341,1,0,0,1,1,1,1,0,1,1,...,31517.6,31574.8,25.0,8.0,877.0,850.0,1322.0,1350.0,283.0,346.0

In [60]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109241 entries, 0 to 34341
Data columns (total 55 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   blue_baron_first       109241 non-null  int64
 1   blue_champion_first    109241 non-null  int64
 2   blue_dragon_first      109241 non-null  int64
 3   blue_inhibitor_first   109241 non-null  int64
 4   blue_riftherald_first  109241 non-null  int64
 5   blue_tower_first       109241 non-null  int64
 6   blue_win               109241 non-null  int64
 7   red_baron_first        109241 non-null  int64
 8   red_champion_first     109241 non-null  int64
 9   red_dragon_first       109241 non-null  int64
 10  red_inhibitor_first    109241 non-null  int64
 11  red_riftherald_first   109241 non-null  int64
 12  red_tower_first        109241 non-null  int64
 13  red_win                109241 non-null  int64
 14  blue_baron             109241 non-null  float64
 15  blue_champion          109241 non-null  float64
 16  blue_dragon            109241 non-null  float64
 17  blue_inhibitor         109241 non-null  int64
 18  blue_riftherald        109241 non-null  int64
 19  blue_tower             109241 non-null  float64
 20  red_baron              109241 non-null  float64
 21  red_champion           109241 non-null  int64
 22  red_dragon             109241 non-null  int64
 23  red_inhibitor          109241 non-null  int64
 24  red_riftherald         109241 non-null  int64
 25  red_tower              109241 non-null  int64
 26  blue_lane_minion       109241 non-null  int64
 27  red_lane_minion        109241 non-null  int64
 28  blue_lane_gold         109241 non-null  int64
 29  red_lane_gold          109241 non-null  float64
 30  duration               109241 non-null  float64
 31  blue_gold_perM         109241 non-null  float64
 32  red_gold_perM          109241 non-null  float64
 33  blue_gold_earned       109241 non-null  float64
 34  red_gold_earned        109241 non-null  float64
 35  blue_kda               109241 non-null  float64
 36  red_kda                109241 non-null  float64
 37  blue_solo_kill         109241 non-null  float64
 38  red_solo_kill          109241 non-null  float64
 39  blue_visionscore_perM  109241 non-null  float64
 40  red_visionscore_perM   109241 non-null  float64
 41  blue_level             109241 non-null  float64
 42  red_level              109241 non-null  float64
 43  blue_death             109241 non-null  float64
 44  red_death              109241 non-null  float64
 45  blue_damage            109241 non-null  float64
 46  red_damage             109241 non-null  float64
 47  blue_jungle_minion     109241 non-null  float64
 48  red_jungle_minion      109241 non-null  float64
 49  blue_total_minion      109241 non-null  float64
 50  red_total_minion       109241 non-null  float64
 51  blue_death_time        109241 non-null  float64
 52  red_death_time         109241 non-null  float64
 53  blue_visionscore       109241 non-null  float64
 54  red_visionscore        109241 non-null  float64
dtypes: float64(31), int64(24)
memory usage: 46.7 MB

In [62]:
final_df = final_df.astype({'blue_baron':'int64', 'blue_champion':'int64', 'blue_dragon':'int64', 'blue_tower':'int64',
                'red_baron':'int64', 'red_lane_gold':'int64', 'duration':'int64', 'blue_gold_earned':'int64',
                'red_gold_earned':'int64', 'blue_solo_kill':'int64', 'red_solo_kill':'int64', 'blue_death': 'int64',
                'red_death':'int64', 'blue_jungle_minion':'int64', 'red_jungle_minion':'int64', 'blue_total_minion':'int64',
                'red_total_minion':'int64', 'blue_death_time':'int64', 'red_death_time':'int64', 'blue_visionscore':'int64',
                'red_visionscore':'int64'})

In [64]:
final_df.dtypes

blue_baron_first           int64
blue_champion_first        int64
blue_dragon_first          int64
blue_inhibitor_first       int64
blue_riftherald_first      int64
blue_tower_first           int64
blue_win                   int64
red_baron_first            int64
red_champion_first         int64
red_dragon_first           int64
red_inhibitor_first        int64
red_riftherald_first       int64
red_tower_first            int64
red_win                    int64
blue_baron                 int64
blue_champion              int64
blue_dragon                int64
blue_inhibitor             int64
blue_riftherald            int64
blue_tower                 int64
red_baron                  int64
red_champion               int64
red_dragon                 int64
red_inhibitor              int64
red_riftherald             int64
red_tower                  int64
blue_lane_minion           int64
red_lane_minion            int64
blue_lane_gold             int64
red_lane_gold              int64
duration                   int64
blue_gold_perM           float64
red_gold_perM            float64
blue_gold_earned           int64
red_gold_earned            int64
blue_kda                 float64
red_kda                  float64
blue_solo_kill             int64
red_solo_kill              int64
blue_visionscore_perM    float64
red_visionscore_perM     float64
blue_level               float64
red_level                float64
blue_death                 int64
red_death                  int64
blue_damage              float64
red_damage               float64
blue_jungle_minion         int64
red_jungle_minion          int64
blue_total_minion          int64
red_total_minion           int64
blue_death_time            int64
red_death_time             int64
blue_visionscore           int64
red_visionscore            int64
dtype: object

In [65]:
final_df.to_csv('data/Total_Combined_History.csv', index=False, encoding='utf-8')

In [66]:
df = pd.read_csv('data/Total_Combined_History.csv')

In [68]:
df.dtypes

blue_baron_first           int64
blue_champion_first        int64
blue_dragon_first          int64
blue_inhibitor_first       int64
blue_riftherald_first      int64
blue_tower_first           int64
blue_win                   int64
red_baron_first            int64
red_champion_first         int64
red_dragon_first           int64
red_inhibitor_first        int64
red_riftherald_first       int64
red_tower_first            int64
red_win                    int64
blue_baron                 int64
blue_champion              int64
blue_dragon                int64
blue_inhibitor             int64
blue_riftherald            int64
blue_tower                 int64
red_baron                  int64
red_champion               int64
red_dragon                 int64
red_inhibitor              int64
red_riftherald             int64
red_tower                  int64
blue_lane_minion           int64
red_lane_minion            int64
blue_lane_gold             int64
red_lane_gold              int64
duration                   int64
blue_gold_perM           float64
red_gold_perM            float64
blue_gold_earned           int64
red_gold_earned            int64
blue_kda                 float64
red_kda                  float64
blue_solo_kill             int64
red_solo_kill              int64
blue_visionscore_perM    float64
red_visionscore_perM     float64
blue_level               float64
red_level                float64
blue_death                 int64
red_death                  int64
blue_damage              float64
red_damage               float64
blue_jungle_minion         int64
red_jungle_minion          int64
blue_total_minion          int64
red_total_minion           int64
blue_death_time            int64
red_death_time             int64
blue_visionscore           int64
red_visionscore            int64
dtype: object

In [12]:
pattern_gamemode = r"'gameMode':\s*'([^']+)'"
matches_gamemode = re.findall(pattern_gamemode, df_0_5000['info'][0])
matches_gamemode

['CLASSIC']

In [16]:
if matches_gamemode == ['CLASSIC']:
    print('YES')
else:
    print('NO')

YES

In [ ]:
def classic_game(df, i):
    pattern_gamemode = r"'gameMode':\s*'([^']+)'"
    matches_gamemode = re.findall(pattern_gamemode, df['info'][i])
    if matches_gamemode == ['CLASSIC']:

In [21]:
df_0_5000

,metadata,info,status
0,"{'dataVersion': '2', 'matchId': 'KR_6657198842...","{'gameCreation': 1692279451325, 'gameDuration'...",NaN
1,"{'dataVersion': '2', 'matchId': 'KR_6682314043...","{'gameCreation': 1693603792048, 'gameDuration'...",NaN
2,"{'dataVersion': '2', 'matchId': 'KR_6669781070...","{'gameCreation': 1692950197129, 'gameDuration'...",NaN
3,"{'dataVersion': '2', 'matchId': 'KR_6663488883...","{'gameCreation': 1692584355894, 'gameDuration'...",NaN
4,"{'dataVersion': '2', 'matchId': 'KR_6691019948...","{'gameCreation': 1694095693726, 'gameDuration'...",NaN
...,...,...,...
4995,"{'dataVersion': '2', 'matchId': 'KR_6681993445...","{'gameCreation': 1693582695269, 'gameDuration'...",NaN
4996,"{'dataVersion': '2', 'matchId': 'KR_6661082935...","{'gameCreation': 1692459997604, 'gameDuration'...",NaN
4997,"{'dataVersion': '2', 'matchId': 'KR_6659181463...","{'gameCreation': 1692376982267, 'gameDuration'...",NaN
4998,"{'dataVersion': '2', 'matchId': 'KR_6681436311...","{'gameCreation': 1693568349801, 'gameDuration'...",NaN
4999,"{'dataVersion': '2', 'matchId': 'KR_6679855060...","{'gameCreation': 1693475122206, 'gameDuration'...",NaN

In [19]:
df_0_5000.drop(0)

,metadata,info,status
1,"{'dataVersion': '2', 'matchId': 'KR_6682314043...","{'gameCreation': 1693603792048, 'gameDuration'...",NaN
2,"{'dataVersion': '2', 'matchId': 'KR_6669781070...","{'gameCreation': 1692950197129, 'gameDuration'...",NaN
3,"{'dataVersion': '2', 'matchId': 'KR_6663488883...","{'gameCreation': 1692584355894, 'gameDuration'...",NaN
4,"{'dataVersion': '2', 'matchId': 'KR_6691019948...","{'gameCreation': 1694095693726, 'gameDuration'...",NaN
5,"{'dataVersion': '2', 'matchId': 'KR_6692874950...","{'gameCreation': 1694197485306, 'gameDuration'...",NaN
...,...,...,...
4995,"{'dataVersion': '2', 'matchId': 'KR_6681993445...","{'gameCreation': 1693582695269, 'gameDuration'...",NaN
4996,"{'dataVersion': '2', 'matchId': 'KR_6661082935...","{'gameCreation': 1692459997604, 'gameDuration'...",NaN
4997,"{'dataVersion': '2', 'matchId': 'KR_6659181463...","{'gameCreation': 1692376982267, 'gameDuration'...",NaN
4998,"{'dataVersion': '2', 'matchId': 'KR_6681436311...","{'gameCreation': 1693568349801, 'gameDuration'...",NaN
4999,"{'dataVersion': '2', 'matchId': 'KR_6679855060...","{'gameCreation': 1693475122206, 'gameDuration'...",NaN

In [28]:
df = pd.concat([df_0_5000, df_5001_10000, df_10001_15000, df_15001_22000, df_22001_35000, df_35001_40000])

In [47]:
df.to_csv('total_match_result.csv', index=False, encoding='utf-8')

In [36]:
df

,metadata,info,status
0,"{'dataVersion': '2', 'matchId': 'KR_6657198842...","{'gameCreation': 1692279451325, 'gameDuration'...",NaN
1,"{'dataVersion': '2', 'matchId': 'KR_6682314043...","{'gameCreation': 1693603792048, 'gameDuration'...",NaN
2,"{'dataVersion': '2', 'matchId': 'KR_6669781070...","{'gameCreation': 1692950197129, 'gameDuration'...",NaN
3,"{'dataVersion': '2', 'matchId': 'KR_6663488883...","{'gameCreation': 1692584355894, 'gameDuration'...",NaN
4,"{'dataVersion': '2', 'matchId': 'KR_6691019948...","{'gameCreation': 1694095693726, 'gameDuration'...",NaN
...,...,...,...
4994,"{'dataVersion': '2', 'matchId': 'KR_6665972519...","{'gameCreation': 1692713860629, 'gameDuration'...",NaN
4995,"{'dataVersion': '2', 'matchId': 'KR_6659418905...","{'gameCreation': 1692399509718, 'gameDuration'...",NaN
4996,"{'dataVersion': '2', 'matchId': 'KR_6676313156...","{'gameCreation': 1693239847860, 'gameDuration'...",NaN
4997,"{'dataVersion': '2', 'matchId': 'KR_6672872228...","{'gameCreation': 1693069899124, 'gameDuration'...",NaN
4998,"{'dataVersion': '2', 'matchId': 'KR_6622718911...","{'gameCreation': 1690676948728, 'gameDuration'...",NaN

In [66]:
game_modes = []
pattern = r"'gameMode':\s*'([^']+)'"
for i in range(len(df['info'])):
    info_value = df['info'][i]
    if pd.isna(info_value):
        game_modes.append('Unknown')  # NaN 값 처리
        continue
    if isinstance(info_value, str):
        match = re.search(pattern, info_value)
        if match:
            game_mode = match.group(1)
        else:
            game_mode = 'Unknown'
        game_modes.append(game_mode)

df['game_mode'] = game_modes

In [67]:
classic_count = df['game_mode'].value_counts().get('CLASSIC', 0)
print(f"클래식 게임 수: {classic_count}")

클래식 게임 수: 33199

In [60]:
df = pd.read_csv('data/total_match_result.csv')

In [70]:
classic_df = df[df['game_mode'] == 'CLASSIC']

In [71]:
classic_df.to_csv('data/total_classic_match_result.csv', index=False, encoding='utf-8')

In [75]:
classic_df.reset_index(drop=True, inplace=True)

In [76]:
classic_df

,metadata,info,status,game_mode
0,"{'dataVersion': '2', 'matchId': 'KR_6657198842...","{'gameCreation': 1692279451325, 'gameDuration'...",NaN,CLASSIC
1,"{'dataVersion': '2', 'matchId': 'KR_6682314043...","{'gameCreation': 1693603792048, 'gameDuration'...",NaN,CLASSIC
2,"{'dataVersion': '2', 'matchId': 'KR_6669781070...","{'gameCreation': 1692950197129, 'gameDuration'...",NaN,CLASSIC
3,"{'dataVersion': '2', 'matchId': 'KR_6663488883...","{'gameCreation': 1692584355894, 'gameDuration'...",NaN,CLASSIC
4,"{'dataVersion': '2', 'matchId': 'KR_6692874950...","{'gameCreation': 1694197485306, 'gameDuration'...",NaN,CLASSIC
...,...,...,...,...
33194,"{'dataVersion': '2', 'matchId': 'KR_6656071489...","{'gameCreation': 1692206082449, 'gameDuration'...",NaN,CLASSIC
33195,"{'dataVersion': '2', 'matchId': 'KR_6659418905...","{'gameCreation': 1692399509718, 'gameDuration'...",NaN,CLASSIC
33196,"{'dataVersion': '2', 'matchId': 'KR_6676313156...","{'gameCreation': 1693239847860, 'gameDuration'...",NaN,CLASSIC
33197,"{'dataVersion': '2', 'matchId': 'KR_6672872228...","{'gameCreation': 1693069899124, 'gameDuration'...",NaN,CLASSIC
33198,"{'dataVersion': '2', 'matchId': 'KR_6622718911...","{'gameCreation': 1690676948728, 'gameDuration'...",NaN,CLASSIC

In [77]:
def teams_preprocessing(df, i):
    
    # first kill 목록
    tf = ['blue_baron_first', 'blue_champion_first', 'blue_dragon_first', 'blue_inhibitor_first', 'blue_riftherald_first', 'blue_tower_first', 'blue_win',
              'red_baron_first', 'red_champion_first', 'red_dragon_first', 'red_inhibitor_first', 'red_riftherald_first', 'red_tower_first', 'red_win']

    # total kill 목록
    kill = ['blue_baron', 'blue_champion', 'blue_dragon', 'blue_inhibitor', 'blue_riftherald', 'blue_tower',
            'red_baron', 'red_champion', 'red_dragon', 'red_inhibitor', 'red_riftherald', 'red_tower']

    # 기타 컬럼 목록
    others = ['blue_lane_minion', 'red_lane_minion', 'blue_lane_gold', 'red_lane_gold', 'duration', 'blue_gold_perM', 'red_gold_perM', 'blue_gold_earned', 
             'red_gold_earned', 'blue_kda', 'red_kda', 'blue_solo_kill', 'red_solo_kill', 'blue_visionscore_perM', 'red_visionscore_perM', 'blue_level', 
             'red_level', 'blue_death', 'red_death', 'blue_damage', 'red_damage', 'blue_jungle_minion', 'red_jungle_minion', 'blue_total_minion',
             'red_total_minion', 'blue_death_time', 'red_death_time', 'blue_visionscore', 'red_visionscore']

    # 추가: df['info'][i] 타입 확인
    if pd.isna(df['info'][i]):
        print(f"Skipping index {i}")
        return None  # 혹은 빈 DataFrame 반환
    

    # teams 데이터 불러오기
    teams = df['info'][i][df['info'][i].find('teams'):]

    # first kill
    pattern_tf = r'(True|False)'
    matches_tf = re.findall(pattern_tf, teams)

    # total kill
    pattern_kills = r"'kills': ([0-9]*)"
    matches_kill = re.findall(pattern_kills, teams)

    # laneMinionsFirst10Minutes
    pattern_laneminion = r"'laneMinionsFirst10Minutes': ([0-9]*)"
    matches_laneminion = re.findall(pattern_laneminion, df['info'][i])
    matches_laneminion = [sum(map(int, matches_laneminion[:5])), sum(map(int, matches_laneminion[5:]))]

    # laningPhaseGoldExpAdvantage
    pattern_lanegold = r"'laningPhaseGoldExpAdvantage': ([0-9]*)"
    matches_lanegold = re.findall(pattern_lanegold, df['info'][i])
    matches_lanegold = [sum(map(int, matches_lanegold[:5])), sum(map(int, matches_lanegold[5:]))]

    # gameDuration
    pattern_gameduration = r"'gameDuration': ([0-9]*)"
    matches_gameduration = re.findall(pattern_gameduration, df['info'][i])
    matches_gameduration = list(map(int, matches_gameduration))

    # golPerMinute
    pattern_gold_perM = r"'goldPerMinute': ([0-9]*\.?[0-9]*)"
    matches_gold_perM = re.findall(pattern_gold_perM, df['info'][i])
    matches_gold_perM = [round(sum(map(float, matches_gold_perM[:5]))/5, 2), round(sum(map(float, matches_gold_perM[5:]))/5, 2)]

    # goldEarned
    pattern_goldearned = r"'goldEarned': ([0-9]*)"
    matches_goldearned = re.findall(pattern_goldearned, df['info'][i])
    matches_goldearned = [sum(map(int, matches_goldearned[:5])), sum(map(int, matches_goldearned[5:]))]

    # kda
    pattern_kda = r"'kda': ([0-9]*\.?[0-9]*)"
    matches_kda = re.findall(pattern_kda, df['info'][i])
    matches_kda = [round(sum(map(float, matches_kda[:5]))/5, 2), round(sum(map(float, matches_kda[5:]))/5, 2)]

    # soloKills
    pattern_solokill = r"'soloKills': ([0-9]*)"
    matches_solokill = re.findall(pattern_solokill, df['info'][i])
    matches_solokill = [sum(map(int, matches_solokill[:5])), sum(map(int, matches_solokill[5:]))]

    # visionScorePerMinute
    pattern_visionScore_perM = r"'visionScorePerMinute': ([0-9]*\.?[0-9]*)"
    matches_visionScore_perM = re.findall(pattern_visionScore_perM, df['info'][i])
    matches_visionScore_perM = [round(sum(map(float, matches_visionScore_perM[:5]))/5, 2), round(sum(map(float, matches_visionScore_perM[5:]))/5, 2)]

    # champLevel
    pattern_champLevel = r"'champLevel': ([0-9]*)"
    matches_champLevel = re.findall(pattern_champLevel, df['info'][i])
    matches_champLevel = [sum(map(int, matches_champLevel[:5]))/5, sum(map(int, matches_champLevel[5:]))/5]

    # deaths
    pattern_deaths = r"'deaths': ([0-9]*)"
    matches_deaths = re.findall(pattern_deaths, df['info'][i])
    matches_deaths = [sum(map(int, matches_deaths[:5])), sum(map(int, matches_deaths[5:]))]

    # totalDamageDealtToChampions
    pattern_damage = r"'totalDamageDealtToChampions': ([0-9]*)"
    matches_damage = re.findall(pattern_damage, df['info'][i])
    matches_damage = [sum(map(int, matches_damage[:5]))/5, sum(map(int, matches_damage[5:]))/5]

    # totalEnemyJungleMinionsKilled
    pattern_jungle_minion = r"'totalEnemyJungleMinionsKilled': ([0-9]*)"
    matches_jungle_minion = re.findall(pattern_jungle_minion, df['info'][i])
    matches_jungle_minion = [sum(map(int, matches_jungle_minion[:5])), sum(map(int, matches_jungle_minion[5:]))]

    # totalMinionsKilled
    pattern_total_minion = r"'totalMinionsKilled': ([0-9]*)"
    matches_total_minion = re.findall(pattern_total_minion, df['info'][i])
    matches_total_minion = [sum(map(int, matches_total_minion[:5])), sum(map(int, matches_total_minion[5:]))]

    # totalTimeSpentDead
    pattern_death_time = r"'totalTimeSpentDead': ([0-9]*)"
    matches_death_time = re.findall(pattern_death_time, df['info'][i])
    matches_death_time = [sum(map(int, matches_death_time[:5])), sum(map(int, matches_death_time[5:]))]

    # visionScore
    pattern_visionscore = r"'visionScore': ([0-9]*)"
    matches_visionscore = re.findall(pattern_visionscore, df['info'][i])
    matches_visionscore = [sum(map(int, matches_visionscore[:5])), sum(map(int, matches_visionscore[5:]))]

    # 데이터 합치기
    combined_data = dict(zip(tf + kill + others, matches_tf + matches_kill + matches_laneminion + matches_lanegold + 
                             matches_gameduration + matches_gold_perM + matches_goldearned + matches_kda + matches_solokill + matches_visionScore_perM +
                             matches_champLevel + matches_deaths + matches_damage + matches_jungle_minion + matches_total_minion + matches_death_time +
                             matches_visionscore))

    # 데이터 프레임
    match_history = pd.DataFrame([combined_data])
    return match_history

all_match_history = pd.DataFrame()

for i in range(len(classic_df)):
    result = teams_preprocessing(classic_df, i)
    if result is not None:  # 추가: 반환된 값이 None이 아닐 경우만 concat
        all_match_history = pd.concat([all_match_history, result])

In [79]:
all_match_history.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33199 entries, 0 to 0
Data columns (total 55 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   blue_baron_first       33199 non-null  object
 1   blue_champion_first    33199 non-null  object
 2   blue_dragon_first      33199 non-null  object
 3   blue_inhibitor_first   33199 non-null  object
 4   blue_riftherald_first  33199 non-null  object
 5   blue_tower_first       33199 non-null  object
 6   blue_win               33199 non-null  object
 7   red_baron_first        33199 non-null  object
 8   red_champion_first     33199 non-null  object
 9   red_dragon_first       33199 non-null  object
 10  red_inhibitor_first    33199 non-null  object
 11  red_riftherald_first   33199 non-null  object
 12  red_tower_first        33199 non-null  object
 13  red_win                33199 non-null  object
 14  blue_baron             33199 non-null  object
 15  blue_champion          33199 non-null  object
 16  blue_dragon            33199 non-null  object
 17  blue_inhibitor         33199 non-null  object
 18  blue_riftherald        33199 non-null  object
 19  blue_tower             33199 non-null  object
 20  red_baron              33199 non-null  object
 21  red_champion           33199 non-null  object
 22  red_dragon             33199 non-null  object
 23  red_inhibitor          33199 non-null  object
 24  red_riftherald         33199 non-null  object
 25  red_tower              33199 non-null  object
 26  blue_lane_minion       33199 non-null  int64
 27  red_lane_minion        33199 non-null  int64
 28  blue_lane_gold         33199 non-null  int64
 29  red_lane_gold          33199 non-null  int64
 30  duration               33199 non-null  int64
 31  blue_gold_perM         33199 non-null  float64
 32  red_gold_perM          33199 non-null  float64
 33  blue_gold_earned       33199 non-null  int64
 34  red_gold_earned        33199 non-null  int64
 35  blue_kda               33199 non-null  float64
 36  red_kda                33199 non-null  float64
 37  blue_solo_kill         33199 non-null  int64
 38  red_solo_kill          33199 non-null  int64
 39  blue_visionscore_perM  33199 non-null  float64
 40  red_visionscore_perM   33199 non-null  float64
 41  blue_level             33199 non-null  float64
 42  red_level              33199 non-null  float64
 43  blue_death             33199 non-null  int64
 44  red_death              33199 non-null  int64
 45  blue_damage            33199 non-null  float64
 46  red_damage             33199 non-null  float64
 47  blue_jungle_minion     33199 non-null  int64
 48  red_jungle_minion      33199 non-null  int64
 49  blue_total_minion      33199 non-null  int64
 50  red_total_minion       33199 non-null  int64
 51  blue_death_time        33199 non-null  int64
 52  red_death_time         33199 non-null  int64
 53  blue_visionscore       33199 non-null  int64
 54  red_visionscore        33199 non-null  int64
dtypes: float64(10), int64(19), object(26)
memory usage: 14.2+ MB

In [80]:
all_match_history

,blue_baron_first,blue_champion_first,blue_dragon_first,blue_inhibitor_first,blue_riftherald_first,blue_tower_first,blue_win,red_baron_first,red_champion_first,red_dragon_first,...,blue_damage,red_damage,blue_jungle_minion,red_jungle_minion,blue_total_minion,red_total_minion,blue_death_time,red_death_time,blue_visionscore,red_visionscore
0,False,False,False,False,False,False,False,False,True,True,...,3701.2,8244.6,4,27,333,452,358,66,54,78
0,False,False,False,False,True,False,False,True,True,True,...,12938.8,15635.2,12,45,552,581,833,318,127,153
0,True,False,True,True,True,True,True,False,True,False,...,11686.4,10214.8,22,6,548,580,326,652,138,93
0,False,True,True,True,True,False,False,True,False,False,...,38695.6,30668.8,34,19,865,911,1344,1575,288,259
0,True,False,False,True,True,True,True,False,True,True,...,27495.4,22866.0,69,0,653,576,998,992,196,127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,True,False,False,False,True,False,False,False,True,True,...,13914.0,18558.2,12,23,693,679,703,591,191,201
0,False,True,True,False,True,False,True,False,False,False,...,7996.0,7145.8,9,0,402,379,104,329,70,50
0,False,False,False,False,False,False,False,False,True,False,...,2365.4,4105.6,4,6,113,284,140,0,23,30
0,False,False,False,False,True,False,False,False,True,True,...,8103.0,11631.8,12,32,360,497,564,328,83,91
0,True,False,True,True,True,False,True,False,True,False,...,34527.6,25903.6,46,4,901,954,1317,1309,242,242

In [81]:
all_match_history.isnull().sum()

blue_baron_first         0
blue_champion_first      0
blue_dragon_first        0
blue_inhibitor_first     0
blue_riftherald_first    0
blue_tower_first         0
blue_win                 0
red_baron_first          0
red_champion_first       0
red_dragon_first         0
red_inhibitor_first      0
red_riftherald_first     0
red_tower_first          0
red_win                  0
blue_baron               0
blue_champion            0
blue_dragon              0
blue_inhibitor           0
blue_riftherald          0
blue_tower               0
red_baron                0
red_champion             0
red_dragon               0
red_inhibitor            0
red_riftherald           0
red_tower                0
blue_lane_minion         0
red_lane_minion          0
blue_lane_gold           0
red_lane_gold            0
duration                 0
blue_gold_perM           0
red_gold_perM            0
blue_gold_earned         0
red_gold_earned          0
blue_kda                 0
red_kda                  0
blue_solo_kill           0
red_solo_kill            0
blue_visionscore_perM    0
red_visionscore_perM     0
blue_level               0
red_level                0
blue_death               0
red_death                0
blue_damage              0
red_damage               0
blue_jungle_minion       0
red_jungle_minion        0
blue_total_minion        0
red_total_minion         0
blue_death_time          0
red_death_time           0
blue_visionscore         0
red_visionscore          0
dtype: int64

In [ ]:
all_match_history

In [84]:
all_match_history = all_match_history.replace({'True': 1, 'False': 0})

In [85]:
all_match_history

,blue_baron_first,blue_champion_first,blue_dragon_first,blue_inhibitor_first,blue_riftherald_first,blue_tower_first,blue_win,red_baron_first,red_champion_first,red_dragon_first,...,blue_damage,red_damage,blue_jungle_minion,red_jungle_minion,blue_total_minion,red_total_minion,blue_death_time,red_death_time,blue_visionscore,red_visionscore
0,0,0,0,0,0,0,0,0,1,1,...,3701.2,8244.6,4,27,333,452,358,66,54,78
0,0,0,0,0,1,0,0,1,1,1,...,12938.8,15635.2,12,45,552,581,833,318,127,153
0,1,0,1,1,1,1,1,0,1,0,...,11686.4,10214.8,22,6,548,580,326,652,138,93
0,0,1,1,1,1,0,0,1,0,0,...,38695.6,30668.8,34,19,865,911,1344,1575,288,259
0,1,0,0,1,1,1,1,0,1,1,...,27495.4,22866.0,69,0,653,576,998,992,196,127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1,0,0,0,1,0,0,0,1,1,...,13914.0,18558.2,12,23,693,679,703,591,191,201
0,0,1,1,0,1,0,1,0,0,0,...,7996.0,7145.8,9,0,402,379,104,329,70,50
0,0,0,0,0,0,0,0,0,1,0,...,2365.4,4105.6,4,6,113,284,140,0,23,30
0,0,0,0,0,1,0,0,0,1,1,...,8103.0,11631.8,12,32,360,497,564,328,83,91
0,1,0,1,1,1,0,1,0,1,0,...,34527.6,25903.6,46,4,901,954,1317,1309,242,242

In [86]:
all_match_history.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33199 entries, 0 to 0
Data columns (total 55 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   blue_baron_first       33199 non-null  int64
 1   blue_champion_first    33199 non-null  int64
 2   blue_dragon_first      33199 non-null  int64
 3   blue_inhibitor_first   33199 non-null  int64
 4   blue_riftherald_first  33199 non-null  int64
 5   blue_tower_first       33199 non-null  int64
 6   blue_win               33199 non-null  int64
 7   red_baron_first        33199 non-null  int64
 8   red_champion_first     33199 non-null  int64
 9   red_dragon_first       33199 non-null  int64
 10  red_inhibitor_first    33199 non-null  int64
 11  red_riftherald_first   33199 non-null  int64
 12  red_tower_first        33199 non-null  int64
 13  red_win                33199 non-null  int64
 14  blue_baron             33199 non-null  object
 15  blue_champion          33199 non-null  object
 16  blue_dragon            33199 non-null  object
 17  blue_inhibitor         33199 non-null  object
 18  blue_riftherald        33199 non-null  object
 19  blue_tower             33199 non-null  object
 20  red_baron              33199 non-null  object
 21  red_champion           33199 non-null  object
 22  red_dragon             33199 non-null  object
 23  red_inhibitor          33199 non-null  object
 24  red_riftherald         33199 non-null  object
 25  red_tower              33199 non-null  object
 26  blue_lane_minion       33199 non-null  int64
 27  red_lane_minion        33199 non-null  int64
 28  blue_lane_gold         33199 non-null  int64
 29  red_lane_gold          33199 non-null  int64
 30  duration               33199 non-null  int64
 31  blue_gold_perM         33199 non-null  float64
 32  red_gold_perM          33199 non-null  float64
 33  blue_gold_earned       33199 non-null  int64
 34  red_gold_earned        33199 non-null  int64
 35  blue_kda               33199 non-null  float64
 36  red_kda                33199 non-null  float64
 37  blue_solo_kill         33199 non-null  int64
 38  red_solo_kill          33199 non-null  int64
 39  blue_visionscore_perM  33199 non-null  float64
 40  red_visionscore_perM   33199 non-null  float64
 41  blue_level             33199 non-null  float64
 42  red_level              33199 non-null  float64
 43  blue_death             33199 non-null  int64
 44  red_death              33199 non-null  int64
 45  blue_damage            33199 non-null  float64
 46  red_damage             33199 non-null  float64
 47  blue_jungle_minion     33199 non-null  int64
 48  red_jungle_minion      33199 non-null  int64
 49  blue_total_minion      33199 non-null  int64
 50  red_total_minion       33199 non-null  int64
 51  blue_death_time        33199 non-null  int64
 52  red_death_time         33199 non-null  int64
 53  blue_visionscore       33199 non-null  int64
 54  red_visionscore        33199 non-null  int64
dtypes: float64(10), int64(33), object(12)
memory usage: 14.2+ MB

In [87]:
all_match_history['blue_baron']

0    0
0    0
0    1
0    0
0    2
    ..
0    1
0    0
0    0
0    0
0    3
Name: blue_baron, Length: 33199, dtype: object

In [88]:
all_match_history = all_match_history.astype({'blue_baron':'int64', 'blue_champion':'int64', 'blue_dragon':'int64', 'blue_inhibitor':'int64',
                            'blue_riftherald':'int64', 'blue_tower':'int64', 'red_baron':'int64', 'red_champion':'int64',
                           'red_dragon':'int64', 'red_inhibitor':'int64', 'red_riftherald':'int64', 'red_tower':'int64'})

In [89]:
all_match_history.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33199 entries, 0 to 0
Data columns (total 55 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   blue_baron_first       33199 non-null  int64
 1   blue_champion_first    33199 non-null  int64
 2   blue_dragon_first      33199 non-null  int64
 3   blue_inhibitor_first   33199 non-null  int64
 4   blue_riftherald_first  33199 non-null  int64
 5   blue_tower_first       33199 non-null  int64
 6   blue_win               33199 non-null  int64
 7   red_baron_first        33199 non-null  int64
 8   red_champion_first     33199 non-null  int64
 9   red_dragon_first       33199 non-null  int64
 10  red_inhibitor_first    33199 non-null  int64
 11  red_riftherald_first   33199 non-null  int64
 12  red_tower_first        33199 non-null  int64
 13  red_win                33199 non-null  int64
 14  blue_baron             33199 non-null  int64
 15  blue_champion          33199 non-null  int64
 16  blue_dragon            33199 non-null  int64
 17  blue_inhibitor         33199 non-null  int64
 18  blue_riftherald        33199 non-null  int64
 19  blue_tower             33199 non-null  int64
 20  red_baron              33199 non-null  int64
 21  red_champion           33199 non-null  int64
 22  red_dragon             33199 non-null  int64
 23  red_inhibitor          33199 non-null  int64
 24  red_riftherald         33199 non-null  int64
 25  red_tower              33199 non-null  int64
 26  blue_lane_minion       33199 non-null  int64
 27  red_lane_minion        33199 non-null  int64
 28  blue_lane_gold         33199 non-null  int64
 29  red_lane_gold          33199 non-null  int64
 30  duration               33199 non-null  int64
 31  blue_gold_perM         33199 non-null  float64
 32  red_gold_perM          33199 non-null  float64
 33  blue_gold_earned       33199 non-null  int64
 34  red_gold_earned        33199 non-null  int64
 35  blue_kda               33199 non-null  float64
 36  red_kda                33199 non-null  float64
 37  blue_solo_kill         33199 non-null  int64
 38  red_solo_kill          33199 non-null  int64
 39  blue_visionscore_perM  33199 non-null  float64
 40  red_visionscore_perM   33199 non-null  float64
 41  blue_level             33199 non-null  float64
 42  red_level              33199 non-null  float64
 43  blue_death             33199 non-null  int64
 44  red_death              33199 non-null  int64
 45  blue_damage            33199 non-null  float64
 46  red_damage             33199 non-null  float64
 47  blue_jungle_minion     33199 non-null  int64
 48  red_jungle_minion      33199 non-null  int64
 49  blue_total_minion      33199 non-null  int64
 50  red_total_minion       33199 non-null  int64
 51  blue_death_time        33199 non-null  int64
 52  red_death_time         33199 non-null  int64
 53  blue_visionscore       33199 non-null  int64
 54  red_visionscore        33199 non-null  int64
dtypes: float64(10), int64(45)
memory usage: 14.2 MB

In [91]:
all_match_history.to_csv('Final_all_match_hisotry.csv', index=False, encoding='utf-8')

In [93]:
df = pd.read_csv('Final_all_match_hisotry.csv')

In [94]:
df

,blue_baron_first,blue_champion_first,blue_dragon_first,blue_inhibitor_first,blue_riftherald_first,blue_tower_first,blue_win,red_baron_first,red_champion_first,red_dragon_first,...,blue_damage,red_damage,blue_jungle_minion,red_jungle_minion,blue_total_minion,red_total_minion,blue_death_time,red_death_time,blue_visionscore,red_visionscore
0,0,0,0,0,0,0,0,0,1,1,...,3701.2,8244.6,4,27,333,452,358,66,54,78
1,0,0,0,0,1,0,0,1,1,1,...,12938.8,15635.2,12,45,552,581,833,318,127,153
2,1,0,1,1,1,1,1,0,1,0,...,11686.4,10214.8,22,6,548,580,326,652,138,93
3,0,1,1,1,1,0,0,1,0,0,...,38695.6,30668.8,34,19,865,911,1344,1575,288,259
4,1,0,0,1,1,1,1,0,1,1,...,27495.4,22866.0,69,0,653,576,998,992,196,127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33194,1,0,0,0,1,0,0,0,1,1,...,13914.0,18558.2,12,23,693,679,703,591,191,201
33195,0,1,1,0,1,0,1,0,0,0,...,7996.0,7145.8,9,0,402,379,104,329,70,50
33196,0,0,0,0,0,0,0,0,1,0,...,2365.4,4105.6,4,6,113,284,140,0,23,30
33197,0,0,0,0,1,0,0,0,1,1,...,8103.0,11631.8,12,32,360,497,564,328,83,91
33198,1,0,1,1,1,0,1,0,1,0,...,34527.6,25903.6,46,4,901,954,1317,1309,242,242

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33199 entries, 0 to 33198
Data columns (total 55 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   blue_baron_first       33199 non-null  int64
 1   blue_champion_first    33199 non-null  int64
 2   blue_dragon_first      33199 non-null  int64
 3   blue_inhibitor_first   33199 non-null  int64
 4   blue_riftherald_first  33199 non-null  int64
 5   blue_tower_first       33199 non-null  int64
 6   blue_win               33199 non-null  int64
 7   red_baron_first        33199 non-null  int64
 8   red_champion_first     33199 non-null  int64
 9   red_dragon_first       33199 non-null  int64
 10  red_inhibitor_first    33199 non-null  int64
 11  red_riftherald_first   33199 non-null  int64
 12  red_tower_first        33199 non-null  int64
 13  red_win                33199 non-null  int64
 14  blue_baron             33199 non-null  int64
 15  blue_champion          33199 non-null  int64
 16  blue_dragon            33199 non-null  int64
 17  blue_inhibitor         33199 non-null  int64
 18  blue_riftherald        33199 non-null  int64
 19  blue_tower             33199 non-null  int64
 20  red_baron              33199 non-null  int64
 21  red_champion           33199 non-null  int64
 22  red_dragon             33199 non-null  int64
 23  red_inhibitor          33199 non-null  int64
 24  red_riftherald         33199 non-null  int64
 25  red_tower              33199 non-null  int64
 26  blue_lane_minion       33199 non-null  int64
 27  red_lane_minion        33199 non-null  int64
 28  blue_lane_gold         33199 non-null  int64
 29  red_lane_gold          33199 non-null  int64
 30  duration               33199 non-null  int64
 31  blue_gold_perM         33199 non-null  float64
 32  red_gold_perM          33199 non-null  float64
 33  blue_gold_earned       33199 non-null  int64
 34  red_gold_earned        33199 non-null  int64
 35  blue_kda               33199 non-null  float64
 36  red_kda                33199 non-null  float64
 37  blue_solo_kill         33199 non-null  int64
 38  red_solo_kill          33199 non-null  int64
 39  blue_visionscore_perM  33199 non-null  float64
 40  red_visionscore_perM   33199 non-null  float64
 41  blue_level             33199 non-null  float64
 42  red_level              33199 non-null  float64
 43  blue_death             33199 non-null  int64
 44  red_death              33199 non-null  int64
 45  blue_damage            33199 non-null  float64
 46  red_damage             33199 non-null  float64
 47  blue_jungle_minion     33199 non-null  int64
 48  red_jungle_minion      33199 non-null  int64
 49  blue_total_minion      33199 non-null  int64
 50  red_total_minion       33199 non-null  int64
 51  blue_death_time        33199 non-null  int64
 52  red_death_time         33199 non-null  int64
 53  blue_visionscore       33199 non-null  int64
 54  red_visionscore        33199 non-null  int64
dtypes: float64(10), int64(45)
memory usage: 13.9 MB